<div class="component-a">
  <h2>Component B ohne expliziter Actionzuweisung</h2>
  {{component-b}}
  <hr>
  <h2>Component B mit expliziter Actionzuweisung</h2>
  {{component-b foo='bar'}}
  {{yield}}
</div>
