<h2 id='title'>Welcome to Ember.js</h2>

<h2>Component A ohne expliziter Actionzuweisung</h2>
{{component-a}}
<hr>
<hr>
<hr>
<h2>Component A mit expliziter Actionzuweisung</h2>
{{component-a baz='blubb'}}

{{outlet}}
